<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Age confirmation</title>
</head>
<body>
<p> The registry has calculated that you are no 18 years of age. You can continue completing the registry however before
    that we have to take you back to the consent page and ask that you obtain permission to be part of this registry
    from your parent or guardian.
    <br>
    Click close to re-enter the age, if you have entered wrong.
</p><br>

<button ui-sref="home" class="ngdialog-close" style="float: right; width: 160px; display: block;">Go to Home
</button>

<button  class="ngdialog-close" style="float: right; width: 120px; display: block;">Close</button>

<br>
</body>
</html>