<div class="col-lg-12" style="    width: 100%;
    float: right;
    margin-top: -85px;">
    <button class=" activebutton btn btn-default buttontab">Preview
</button>
<hr class="hrstyle" style="border: 2px solid #0072BB;"/>

<iframe src="/publicsurvey/index.html" sandbox>
    <p>Your browser does not support iframes.</p>
</iframe>
    </div>



<br>
<button class="activebutton btn btn-default buttontab" ng-click="publishsite()"> Publish</button>

<style>
    .textboxstyl {
        width: 60% !important;
        background-color: white !important;
        border: 1px solid #eee !important;
    }

    ul#contenttabtemp li {
        list-style: none;
        display: inline;
        border: 1px solid #9a9a9a;
        padding: 4%;
        background-color: #0088CC;
        color: white;
    }

    .admindisable {
        background-color: grey !important;
        opacity: 0.4;
    }

    .buttontab {
        width: 200px;
        height: 48px;
        background-color: #D4D2D2;
        border: 0px solid;
        color: #666666;
        font-weight: normal;
        box-shadow: none;

    }

    .hrstyle {
        margin: 0px;
        width: 100%;
        float: left;
    }

    .control {
    }

    .form-group {
        padding: 10px;
        text-align: left;
    }

    .activebutton {
        background-color: #0673b5 !important;
        border: none;
        color: #fff !important;
    }

    .adminbacktab {
        background-color: #ffffff;
    }

    .imagecont {
        color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    ul#contenttabtemp li:hover {
        background: none;
    !important;
        background-color: white !important;
        color: #0088CC;
    }

    a:link {
        text-decoration: none;
        color: #fff;

    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    }

    .addques {
        font-weight: 700;
        color: #0673b5;
        margin-right: 5px;
        margin-right: 5px;
        cursor: pointer;

    }

    .delpage {
        font-weight: 700;
        color: #E74C3C;
        cursor: pointer;

    }

    img {
        cursor: pointer;
    }

    .hidedep {
        background-color: rgba(241, 11, 11, 0.57) !important;
    }

    .ngdialog-content {
        width: 60%;
    }

    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 65%;
        height: auto;
        border: 5px solid #ABB2D7;
    }

    .ngdialog.ngdialog-theme-default {
        padding-top: 45px;
        overflow: hidden;
    }

    .input-w {
        padding: 0.8%;
    }

    .input-w label {
        width: 19%;
        display: inline-block;
        vertical-align: middle;
    }

    .input-w input {
        display: inline-block;
        vertical-align: middle;
        height: 2.15em;
        font-family: ProximaNova-Regular;
        margin-right: 20px;
    }

    .input-w select {
        display: inline-block;
        vertical-align: middle;
        height: 2.15em;
        margin-right: 20px;

    }

    .input-w textarea {
        display: inline-block;
        vertical-align: middle;
        row-span: 2;
    }

    #ins-admin li {
        font-weight: 600;
        text-decoration: none;
        list-style: none;
        color: #0673B5;

    }

    #ins-admin p {

        color: #777 !important;

    }

    .showdependencyques {
        display: block !important;
    }
</style>