  <!-- TO-DO : Fetch from JSON properties & make it dynamic -->


<div id="printconsenform"><p style="color:#2c343b; font-weight:bold; ">INFORMATION FOR PATIENTS</p>


    <br>
<p>We invite you to participate in the “Register to be Registered” (R2R) program, also known as the Registry, coordinated by HeartKids Australia and the Royal Prince Alfred Hospital, Sydney. You can consent to participate yourself provided you are 18 years of age or older.  If you are not 18 years of age yet you can still participate with the consent of a parent or guardian.  Before you do, it is important that you understand what is involved and what will be done with the information you provide. This information document contains answers to some of the questions you might have. At the end of the form there is a section for you to sign to confirm that you agree to participate. If you have any questions after reading this form, please contact the coordinators of R2R using the contact details provided later in this information document before signing the form. This project has been approved by the South Western Sydney Local Health District (SWSLHD) Human Research Ethics Committee.
</p>
    <br>
<p>
<span class="txtquestion">“What is a patient registry and why would you want to participate in one?”</span><br>
A Registry is a centralised data set.  “Register to be Registered” is considered a vital first step program to achieving a nationwide Congenital Heart Disease Registry.  The Registry aim is to collect data from all people in Australia and New Zealand living with a previous Congenital Heart Disease, also known as (CHD) diagnosis, regardless of the current status of their disease condition.  This first program is considered necessary to achieving the overall goal of an Australia and New Zealand CHD Registry as it will facilitate the ability to capture adults and adolescents who have transitioned from childhood care to adult care.  This is believed to be where many CHD members of society are lost from a care continuum
</p>
<br>
<p>
<span class="txtquestion">“Whose data is being collected in this registry?”</span><br>
This Registry is for individuals living with a previous diagnosis of CHD. Examples of previous diagnosis included in The Registry are:
</p>
<ui>
<li>Atrial Septal Defect (ASD)</li>
    <li>Ventricular Septal Defect (VSD)</li>
    <li>	Patient Ductus Arteriosus</li>
    <li>	    Coarctation of the Aorta</li>
    <li>		Aortic Valve Disease</li>
    <li>		Pulmonary Valve Disease</li>
    <li>	Mitral Valve Disease</li>
    <li>	Atrio-ventricular septal defects (AVSD)</li>
    <li>	Tetralogy of Fallot</li>
    <li>	Transposition of the Great Vessels</li>
    <li>	Pulmonary Atresia</li>
    <li>	Single Ventricle pathology</li>
    <li>	Cyanotic Congenital Disease</li>
</ui>
<br>
<p>
<span class="txtquestion">“What information is being collected and why?”</span><br>
The Registry will contain demographic information about the patient including: name, address, date of birth, ethnicity, email and contact details. This information is called identifiable information and will be stored in a secure and confidential manner in order to prevent you from being identified by anyone other than those directly involved with the Registry.

The Registry will also contain information about your previous diagnosis including the specific name of your diagnosis, if you have ever received surgery to correct that original diagnosis, the timeliness of the care you believe you received, the current care you may be receiving today, how the diagnosis and follow-up care has impacted your day to day living, and how you consider your quality of care overall in dealing with your diagnosis has been delivered to date.  The information in The Registry will allow us to provide you with new information relevant to standards of care for your condition, offer potential opportunities for follow-up with specialist in your area but ultimately provide us with a better understanding of the burden of diagnosis from childhood to adulthood.
</p>
<br>
<p>
<span class="txtquestion">“Who should fill in this form?”</span><br>
If you are the patient, you can fill in and sign the form yourself, provided you are 18 years of age or older. If you are under 18 years of age but can understand this information, you may consent, but we also require your parent or guardian to consent with you. Whatever your age, please discuss registration with your family and don’t hesitate to contact us if you have any questions. If you are the parent or guardian of a child who is not old enough to understand this form, please consent yourself if you want your child’s data to be included in The Registry.
</p>
<br>
<p>
<span class="txtquestion">“What do I have to do and where will my data go?”</span><br>
If you agree to take part in this project, you should read this patient information and consent form by following the instructions at the end of the information.  Once you have consented you will be presented with a list of question online which you can answer at your own pace.  Your data will be saved to the Registry which will be securely controlled.  Your data will be stored securely on a server and no unauthorised people will be able to gain access to any information. Only specific people within The Registry are given authority to access identifiable data.  Only the national curator of The Registry will be able to access the archive containing the identifiable data and this will only be for the purposes of linking your record with other health data. At no time during this linkage will your identifiable data be disclosed to anyone outside The Registry. All archived data will be retained in the event of your death and stored securely for the life of The Registry.
</p>
<br>
<p>
<span class="txtquestion">“Who will be able to access the data within the Registry?”</span><br>
Only specific people within The Registry are given authority to access identifiable data. Your clinical and genetic data will be stored in a re-identifiable form.
</p>
<br>
<p>
Selected data (non-identifiable) about all participants will be made available for research purposes or for health policy development purposes.  This type of information will consist only the information you have provided that does not identify you, but characterises your diagnosis and how you were cared for then and now.
    <br>
WE NEED SOME MORE INFORATION IN HERE ABOUT WHAT THE DATA WILL BE USED FOR
    <br>
<span class="txtquestion">“How long will my data be kept?”</span><br>
The data in the Registry will be maintained indefinitely. If The Registry closes down or ceases to function, then all records held within The Registry will be stored in a secure setting by the national curator for a period of 10 years and then destroyed.
</p>
<br>
<p>
<span class="txtquestion">“How will my privacy be protected?”</span><br>
The Registry is a stored electronic record of a participant’s personal and clinical experiences. This file will be subject to the regulations on data protection, ,  at both state and national levels, and we will only transfer under national laws1,2. Any information we collect in The Registry that can identify you will be treated as confidential. We can disclose identified information only with your permission, except as required by law. All confidential information shall be encrypted and stored securely, in accordance with each state’s and national privacy laws.
</p>
<br>
<p>
If we publish any research or other documents based on data from the registries, this research will never identify you by name.

Third parties wishing to have access to data in The Registry (such as researchers or companies planning clinical trials or conducting research on new treatments) will only have access to information identifiable by a code. Before they are granted access even to this coded information, they must have the approval of a Human Research Ethics Committee. Your data will not be made available to employers, government departments, insurance companies or educational institutions. Your information will remain confidential except in the case of a legal requirement to pass on personal information to authorised third parties. This requirement is standard and applies to information collected both in research and non-research situations. Such requests to access information are rare; however we have an obligation to inform you of this possibility.
</p>
<br>
<p>
<span class="txtquestion">“How can I update my data if it changes?”</span><br>
We will need to review data in The Registry regularly, to ensure that it is up to date. You can assist us by updating us at any time you consider required by logging in and making changes.  Aspects which may change more frequently would be your contact details for example.
</p>
<br>
<p>
<span class="txtquestion">“Who will have access to my medical records?”</span><br>
Nobody within this Registry program will have access to your medical records.  In the event that the scope of this Registry extends and it is intended to obtain more information about your clinical experience we would contact you and request additional consent to be able to access medical records.  This consent would only be sought freely from you and you would be able to decline further participation if that was your decision.
</p>
<br>
<p>
<span class="txtquestion">“How will I be identified in The Registry?”</span><br>
Your personal details (name, address etc have to be stored in The Registry so that we can contact you if required in the future. This data will be stored in a secure manner and your records will be assigned a unique code. When we transfer your data to any third party, including any other disease registry, we will not transfer any of your personal details, and your records will only be identifiable by the code they have been assigned. Only the person in charge of The Registry or a person explicitly appointed by that person will be able to “de-code” the data to get access to your personal details.
</p>
<br>
<p>
<span class="txtquestion">“How will I benefit from registering?”</span><br>
The Registry is intended as a public service for the benefit of patients living with a previous diagnosis of CHD. You will not receive any payment or any other financial benefit as a result of submitting your data to The Registry. The results of research facilitated by The Registry may have commercial potential. However, you will not receive financial benefits from future commercial development. Nevertheless, there may be other benefits to participating, including the following:
•	The data collected might also provide benefits to other patients with your condition, for example by revealing statistics on how many people in Australia have the same condition, or providing information for researchers interested in the best standards of care for your condition.
•	We will publish some general statistical information from The Registry on our website.
</p>
<br>
<p>
<span class="txtquestion">“Do I have to participate in The Registry and can I withdraw if I change my mind?”</span><br>
Your participation in this project is completely voluntary. The Federal Privacy Act and associated principles and guidelines1,2 grants you the right to rectify your data or withdraw from further participation in The Registry at any time. Should you wish to withdraw from The Registry you will be free to do so without having to provide any explanation. Once you withdraw your existing records will be maintained in the Registry unless you request that they be destroyed. Once you withdraw you will not be contacted further by the Registry organisers. If you wish to withdraw, you should get in touch with the staff in charge of The Registry. Contact details are provided below.
</p>
<br>
<p>
<span class="txtquestion">“Who should I contact if I have any questions?”</span><br>
If you would like any additional information, need to tell us about any change in your data, or if you wish to withdraw your data from The Registry, please contact the person from the state in which you live listed in the contact table at the end of this form.
</p>
<br>
<p>
Human Research Ethics Committee Reference Details
</p>
<br>

<p style="font-family: ProximaNova-Regular;font-weight: bold;">INFORMED CONSENT</p>
<br>
<p>You can electronically fill in and sign the consent form yourself provided you are 18 years of age or older.  If you are under18 years of age then you may also sign the consent form, and additionally your parent or guardian will need to provide their signed consent for your participation.
</p>
<br>
<p>
I consent to having my information stored in the Register to be Registered Database and for non-identifiable information to be transferred (in a form identifiable only by a code) for research and publication.
I agree to receive follow-up contact from the Registry organisers, in order to keep my record and The Registry up to date, or to follow-up on any queries about the information I have previously entered.
If there are any major changes in my data (for example change of address or changes in my medical condition) that occur in the period between updates, I agree to inform The Registry.
</p>

    <br>
    <div style="padding: 2%">
    <input type="checkbox" ng-model="agreeconsent" name="agreeconsentval" id="agreeconsentId" class="filled-in" ng-init="agreeconsent='false'" required/>  <label for="agreeconsentId" style="font-size: 1.4rem" onclick >I consent to/agree with the above statements</label><br>

        <br><input type="checkbox" ng-model="agreecontactr2r" name="agreecontactr2r" id="contactfuture"class="filled-in" ng-true-value="yes" ng-false-value="no"/>  <label for="contactfuture" style="font-size: 1.4rem"onclick>I consent to being contacted in the future by the organisers of the Register to be Register Program</label>
</div>
</div>

<!-- TO-DO : CSS should be abstracted-->


<p style="color:red;
    width: 90%;
    margin-left: 6%;
    font-weight: 600;">{{agreeconsentreq}}</p>

    <div class="btn-group surveybutton" style=" padding-top: 10px;
    padding-bottom: 80px;">
    <button  style="" ng-click="proceedtosurvey(usertype,agreeconsent)"   class="btnnext btn-primary btnsizing">Agree</button>
    <button  style=""  class="btnnext btn-default btnsizing" class="close" data-dismiss="modal" aria-hidden="true">Disagree</button>
</div>


</div><style>
.checksizing
{
    font-size: 15px;
font-family: ProximaNova-Regular;
}
.btnsizing {
height: 50px;
width: 110px;
}
</style>